/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f57247;
  --ifm-color-primary-dark: #f35b29;
  --ifm-color-primary-darker: #f3501a;
  --ifm-color-primary-darkest: #d23c0b;
  --ifm-color-primary-light: #f78965;
  --ifm-color-primary-lighter: #f79474;
  --ifm-color-primary-lightest: #fab7a1;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f27349;
  --ifm-color-primary-dark: #f05c2c;
  --ifm-color-primary-darker: #ef511d;
  --ifm-color-primary-darkest: #ce3e0f;
  --ifm-color-primary-light: #f48a66;
  --ifm-color-primary-lighter: #f59575;
  --ifm-color-primary-lightest: #f8b7a1;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__logo {
  max-height: 1.2rem;
}
